.main{
    margin: 3% 20% 3% 20%;
}

h1, p {
    margin: 3vh 0;
}

p{
    font-size: large;
}

span{
    color: #E30013;
    font-weight: bold;
}

table{
    width: 100%;
}

th {
    text-align: left;
}

tr, td, th{
    padding: 15px 10px;
    font-size: large;
}

th:first-child, td:first-child {
    text-align: center;
    width: 30%;
}

table, tr, td, th{
    border: solid 2px black;
    border-collapse: collapse;
}