/* 
This file provides stylings to the elements that all page will have in common
like headers and footers
RMB TO IMPORT TO EVERY HTML FILE
DONT CODE PAGE SPECIFIC STYLES HERE 
*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #170506;
}

header {
  height: 5vh;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: .25s;
  z-index: 20; /* Give a big value so that all other elements go behind */
}

/* Changing to position fixed adds more browser support than position sticky */
.header-scrolled {
  position: fixed;
  margin: 1vw;
  top: 0;
  left: 0; right: 0; /* left 0 right 0 is a trick to make the element take full size width */
  box-shadow: 0px 4px 10px #1705067a;
  border-radius: 5px;
}

header h1 {
  margin-left: 1vw;
  color: #fc6471;
}

header nav {
  /* margin-right: 1vw; */
  display: flex;
  /* width: 30vw; */
}

.nav-links {
  text-align: center;
  display: block;
  width: 10vw;
  max-width: 110px; /* too big width will give the spacing on bigger screen sizes too big */
  padding: 10px 0px;
  position: relative;
  text-decoration: none;
}

.nav-links::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: 0vw;
  height: 3px;
  left: min(5vw, 55px); /* center of the nav-links elements (excluding its own width) */
  transform: translate(-50%, 50%); /* displace it back by its width, and move down by half of its height */
  background-color: #170506;
  border-radius: 100000000px;
  transition: .5s;
}

.active::after {
  /* content: "";
  display: block;
  position: absolute;
  width: 2.5vw;
  height: 5px;
  left: calc(5vw - 1.25vw);
  background-color: #170506;
  border-radius: 100000000px; */
  opacity: 1;
  width: min(2.5vw, 27.5px);
  /* bug encountered when using max-width, when hovered away, the bar will magically bump up to 2.5vw eh size */
  /* max-width: 27.5px; */ /* will be using the min function in css to avoid the bug */
}

#music-toggle {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  cursor: pointer;
}

.music-on {
  background-image: url(../../res/music-on.png);
  animation: music-disk-rotation 3s infinite linear;
}

.music-off {
  background-image: url(../../res/music-off.png);
}

.music-prompt-bg {
  position: fixed;
  top: 0; bottom: 0; /* Magic to make this thing span the whole page */
  left: 0; right: 0;
  background-color: #00000052;
  z-index: 9999;
}

.music-prompt {
  text-align: center;
  width: 75vw;
  max-width: 800px; /*don't make it look too spaced */
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 0 100vw #00000052;
  background-color: #fff;
  z-index: 9999; /* go on top of everything */
  border: 1px solid black; /*temp*/
}

.music-prompt p {
  margin: 0 15%;
}

.music-prompt a:hover {
  color: #fc6471;
}

.checkbox * {
  cursor: pointer;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 15%;
}

.action-btns button {
  width: calc(50% - 20px); /* give a little spacing */
}

/* this button will be used in all types of places, so leave the width and height and margin alone*/
.urge-action-btn {
  /* width: 15vw;
  height: 8vh;
  margin-top: 5vh; */
  /* padding: 10px; */
  background-color: #fc6471;
  border: 2px solid #bd4b55;
  border-radius: 7.5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}

.urge-action-btn:hover {
  box-shadow: 0px 2px 7px #3b2729;
}

.urge-action-btn:hover span::after {
  opacity: 1;
  right: -10px;
  animation: .5s slide-right linear alternate infinite;
}

.urge-action-btn:active {
  opacity: .7;
  box-shadow: 0px 2px 2px #3b2729;
}

.urge-action-btn:disabled {
  opacity: .7;
  cursor: not-allowed;
}

.secondary-action-btn {
  /* padding: 10px; */
  background-color: #fff;
  border: 2px solid #0e0607;
  border-radius: 7.5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}

.secondary-action-btn:hover {
  box-shadow: 0px 2px 7px #3b2729;
}

.secondary-action-btn:active {
  opacity: .7;
  box-shadow: 0px 2px 2px #3b2729;
}

.secondary-action-btn:disabled {
  opacity: .7;
  cursor: not-allowed;
}

/*easy class to remove margin in case you want to remove urge-action-btn eh margin*/
.no-margin {
  margin: 0;
}

main {
  min-height: 100vh;
}

#goToTop {
  width: 4vw;
  height: 4vw;
  display: none; /* Only visible after the user has scrolled the page (using js) */
  border: none;
  box-shadow: 1px 1px 5px #3b2729;
  border-radius: 50%;
  background-image: url(../../res/arrowUp.png);
  background-size: 2vw 2vw;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  transition: .3s;
  z-index: 30; /*go on top everything else */
}

#goToTop:hover {
  box-shadow: 0px 3px 8px #3b2729;
}

#goToTop:active {
  box-shadow: 0px 1px 3px #3b2729;
}

@keyframes music-disk-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

footer {
  /* height: 10vh; To be determined, when we know what actually goes in there */
  /* Also to be determined, prob will be removed as we'll be using elements and not sole text*/
  display: grid;
  background-color: #eee;
}

.form-and-access-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.form-and-access-container div {
  margin: 15px 0 0 15px;
}

.quick-access {
  position: relative;
}

/* Line separator, used after element cuz its more customisable */
.quick-access::after {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #c7c0c0b2;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.quick-access h2 {
  color: #fc6471;
}

.quick-access ul {
  list-style-type: none;
}

.quick-access li {
  padding: 5px 0;
}

.quick-access a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: padding .1s;
}

.quick-access a::before {
  content: '>';
  position: absolute;
  left: -5px;
  top: 0;
  opacity: 0;
  transition: padding .2s;
}

.quick-access a:hover {
  padding-left: 2ch;
  color: #df1829;
}

.quick-access a:hover::before {
  /* displace back instead adjust position (may cause bug where it jump here jump thr )*/
  padding-left: 5px; 
  opacity: 1;
}

.copyright {
  padding: 1.25em;
  position: relative;
}

.copyright::before {
  content: '';
  height: 1px;
  /* width: 95%; */
  left: 1%; right: 1%; /* Use the position absolute hack again to determine the width */
  top: 25%;
  background-color: #c7c0c0b2;
  position: absolute;
}

.news-letter-form label,
.news-letter-form input {
  display: block;
  margin: 5px 0;
}

.news-letter-form input {
  border-radius: 5px;
  border: 2px solid #fc6471;
  outline: none;
}

footer input[type="text"], 
footer input[type="email"] {
  width: 45%;
  max-width: 400px;
  padding: 5px 10px;
}

input[type="text"]:focus, 
input[type="email"]:focus {
  box-shadow: 0 2px 7.5px #3b2729;
}

footer input[type="submit"] {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #fc6471;
  border-color: #bd4b55;
  font-weight: bolder;
  cursor: pointer;
  transition: box-shadow .2s;
}

input[type="submit"]:hover,
input[type="submit"]:focus { /* if the user use tab to target the button */
  box-shadow: 0 2px 7.5px #3b2729;
}

input[type="submit"]:active {
  box-shadow: 0 2px 4px #3b2729;
  opacity: .75;
}