/* 
This file provides stylings to the elements that all page will have in common
like headers and footers
RMB TO IMPORT TO EVERY HTML FILE
DONT CODE PAGE SPECIFIC STYLES HERE 
*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #170506;
}

header {
  height: 5vh;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: .25s;
  z-index: 20; /* Give a big value so that all other elements go behind */
}

.header-scrolled {
  position: -webkit-sticky; /* include support for safari*/
  position: sticky;
  top: 1vw;
  margin: 1vw;
  box-shadow: 0px 4px 10px #1705067a;
  border-radius: 5px;
}

header h1 {
  margin-left: 1vw;
  color: #fc6471;
}

header nav {
  /* margin-right: 1vw; */
  display: flex;
  /* width: 30vw; */
}

.nav-links {
  text-align: center;
  display: block;
  width: 10vw;
  padding: 10px 0px;
  position: relative;
  text-decoration: none;
}

.nav-links::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: 0vw;
  height: 5px;
  left: calc(5vw - 1.25vw);
  background-color: #170506;
  border-radius: 100000000px;
  transition: .5s;
}

.active::after {
  /* content: "";
  display: block;
  position: absolute;
  width: 2.5vw;
  height: 5px;
  left: calc(5vw - 1.25vw);
  background-color: #170506;
  border-radius: 100000000px; */
  opacity: 1;
  width: 2.5vw;
}

#music-toggle {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  cursor: pointer;
}

.music-on {
  background-image: url(../../res/music-on.png);
  animation: music-disk-rotation 3s infinite linear;
}

.music-off {
  background-image: url(../../res/music-off.png);
}

@keyframes music-disk-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

footer {
  height: 10vh; /* To be determined, when we know what actually goes in there */
  /* Also to be determined, prob will be removed as we'll be using elements and not sole text*/
  text-align: center;
}