/* RMB TO IMPORT TO EVERY HTML FILE*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #170506;
}

header {
  height: 5vh;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.header-scrolled {
  margin: 1vw;
  /* border: 3px solid #590d13; */
  box-shadow: 0px 4px 10px #1705067a;
  border-radius: 5px;
}

header h1 {
  margin-left: 1vw;
  color: #fc6471;
}

header nav {
  /* margin-right: 1vw; */
  display: flex;
  /* width: 30vw; */
}

.nav-links {
  text-align: center;
  display: block;
  width: 10vw;
  position: relative;
  text-decoration: none;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.5vw;
  height: 5px;
  left: calc(5vw - 1.25vw);
  background-color: #170506;
  border-radius: 100000000px;
}

#music-toggle {
  background-image: url(../../res/music-on.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  cursor: pointer;
}

.music-on {
  background-image: url(../../res/music-on.png);
}

.music-off {
  background-image: url(../../res/music-off.png);
}