/* This css is specifically for index.html */
.land-container {
  height: calc(95vh - 2vw); /* Header is 5vh, with top and bottom 1vw padding each*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeddf;
}

/* Move everything in the land-container but not the container itself up abit */
.land-container * {
  transform: translateY(-40%);
}

.hero-btn {
  width: 15vw;
  height: 8vh;
  margin-top: 5vh;
}

.hero-btn span {
  position: relative;
  transition: .25s;
}

.hero-btn span::after {
  content: ">>";
  position: absolute;
  opacity: 0;
  right: -15px; /* to make a little bit slide-in effect */
  transition: .25s;
}

.hero-btn:hover span {
  padding-right: 20px;
}

.hero-btn:hover span::after {
  opacity: 1;
  right: -10px;
  animation: .5s slide-right linear alternate infinite;
}

@keyframes slide-right {
  from {
    opacity: .25;
    right: -3px;
  }

  to {
    opacity: 1;
    right: -10px;
  }
}

.featured-products-container {
  background-color: #dbd3c9;
  position: relative; /* Just so I can position h2 child absolute */
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-evenly;
  align-items: center;
}

/* Only select h2 that is direct child of the class */
.featured-products-container > h2 {
  position: absolute;
  top: 3vh;
  left: 3vw;
}

.featured-product {
  display: flex;
  width: 70vw;
  height: 15vh; /* lock the size */
  padding: 2.5vw;
  background-color: #fff;
  /* overflow: auto;  */
  border-radius: 8px;
  box-shadow: 0 1px 6px #3b2729;
  transition: .3s;
  cursor: pointer;
  /* displace abit to make the element appear to be moving after displace back */
  transform: translateY(30px);
  opacity: 0;
}

/* 
  would like to make the title stick but titles can overflow also, 
  just make the whole container scrollable thouh overflow is less likely to happen 
*/
.desc {
  overflow: auto;
  position: relative;
  width: 50vw;
}

/* A class that will be added to the featured product after it entered the viewport */
.fade-in {
  transform: translateY(0);
  opacity: 1;
}

.featured-product:hover {
  box-shadow: 0 6px 10px #3b2729;
}

.featured-product:active {
  opacity: .7;
  box-shadow: 0 2px 10px #3b2729;
}

.featured-product img {
  /* I rlly dun wanna mess with weird aspect ratio eh image imma just make the size "responsive" */
  width: 20vw;
  height: 15vh;
  object-fit: fill;
  object-position: center;
  margin-right: 2.5vw;
}

.browse-more {
  width: 15vw;
  height: 8vh;
}