.content-container {
    margin: 15vh auto;
    /* height: 80vh; */
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    gap: 3vw;
}

.product-vid img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #3b3b3b;
}

.product-des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25em;
}

.product-des h1 {
    margin-bottom: 3%;
}

.product-des p {
    /* margin: 2% 0 1.5% 0; */
    font-weight: bold;
    font-size: 1.1em;
}

.product-des ul {
    margin-left: 2ch;
}

.product-buy-btn {
    padding: 2% 2vw;
}

.product-des span {
    color: #fc6471;
}

/* .price-list */

#order-form {
    width: 70vw;
    margin-left: 4vw;
    font-size: 1.25em;
}

#order-form * {
    margin-top: 1vh;
}

#order-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 7vh;
}

#order-form form h3 {
    margin-top: 3vh;
}

#scroll-to-order-form {
    /* give some height to push the form down AND give empty space when scrolled to */
    height: 20vh;
}

.col-2 {
    display: flex;
    justify-content: space-between;
}

.row-2 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.full-width {
    width: 100%;
}

#order-form input:not(.urge-action-btn),
#order-form select,
#order-form textarea {
    outline: none;
    border: 2px solid #fc6471;
    border-radius: 8px;
    padding: 1vh 1vw;
    font-size: 1.1em;
}

#order-form select {
    /* setting border-color changed its background, gonna unset that */
    background-color: unset;
}

#order-form input[type="submit"] {
    width: fit-content;
    margin-top: 3vh;
}

#order-form span {
    color: #fc6471;
}
